header nav{
    background-color: white !important;
    height: 70px !important;
}

nav ul a {
    padding-top: 3px;
    padding-bottom: 3px;
}

.logo img {
    background-color: black;
    margin: 5px;
    padding: 10px;
}

#nav-mobile a{
    color: #003164;
}

#dropdown-user {
    top: 65px !important;
    
}